<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>#SIGNIT2014</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Ruthie' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<!--[if lt IE 9]>
	        <script src="/static/js/html5.shiv.min.js"></script>
	    <![endif]-->
    </head>
    <body>
    	<header class="navbar navbar-transparent navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="buffer col-xs-12">
					<div class="navbar-header">
						<a class="main-heading" href="#">#SIGNIT2014</a>
					</div>
				</div>
			</div>
    	</header>
    	<main class="main container">
	    	<div class="buffer">
	    		<div class="input-group input-group-lg">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" id="yourname" name="yourname" value="yourtwitterhandle" maxlength="18">
    				<a id="mainsignit" href="#share" class="input-group-addon btn btn-default">Share it</a>
                </div>
				<div id="output"></div>
    		</div>
	    	<div class="buffer">
    			<a href="#share" class="btn btn-default">Share to Facebook</a>
    			<a href="#share" class="btn btn-default">Share to Twitter</a>
    		</div>
    		<div class="buffer">
    			<div id="signatures">
    				<ul class="signaturelist">
					<% for(var i=0; i<signatures.length; i++) {%>
					   	<li id="time<%= signatures[i]['time'] %>">
					   		<a href="<%= signatures[i]['tweetback'] %>" target="_blank"><%= signatures[i]['name'] %></a>
					   		<% for (var prop in signatures[i]) {%>
					   		<span class="sig-metadata meta-<%= prop %> "><%= signatures[i][prop] %></span>
							<% } %>
					   	</li>
					<% } %>
					</ul>
    			</div>
    		</div>
    	</main>
    	<footer class="mainfooter navbar navbar-default navbar-fixed-bottom">
    		<div class="container">
    			<p>&copy; 2014</p>
    		</div>
    	</footer>
    	<script src="/static/js/jquery.min.js"></script>
    	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
    	<script src="/static/js/TweenMax.min.js"></script>
    	<script src="/static/js/jquery.gsap.min.js"></script>
    	<script src="/static/js/signit.js"></script>
    </body>
</html>
